/*전 영역 관리*/
@import url('https://fonts.googleapis.com/css?family=Jua');
*{
  font-family: 'Jua';
}
a{
  color: #000000;
  text-decoration: none;
}
a:hover{
  color: #bbbbbb;
  text-decoration: none;
  cursor: pointer;
}
/*내비게이션 영역*/
.navbar-default{/*배경색*/
  background-color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-brand{/*내비게이션 제목 배경색*/
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{/*내비게이션 제목 마우스 올림*/
  background-color: transparent;
  color: #bbbbbb;
}
