<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css\bootstrap.min.css">
    <link rel="stylesheet" href="css\Alib.css">
    <title>test</title>
  </head>
  <body>
    {% block start-footer %}
    <div class="modal" id="testModal" tabindex="-1" role="dialog">
	     <div class="modal-dialog modal-sm">
		       <div class="modal-content">
			          {% endblock %} {% block modal-header %}
			          {% endblock %} {% block modal-body %}
			                <div class="modal-body">
				                    <h1> modal test </h1>
			                </div>
			               {% endblock %} {% block modal-footer %}
			               <div class="modal-footer">
				                   <button type="button" class="btn" data-dismiss="modal">닫기</button>
			               </div>
			                  {% endblock %} {% block end-footer %}
		       </div>
	     </div>
    </div>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
